[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
funtime = "*"
coolname = "*"
cloudpickle = "*"
spaceman = {editable = true, path = "."}
pytest-runner = "*"
"boto3" = "*"
"s3fs" = "*"
loguru = "*"
"urllib3" = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
